* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.head {
  margin: 0 auto;
}
body {
  background-image: url(../image/hmkljbndfacgie1496931590.png);
  /* 背景吸附 */
  background-attachment: fixed;
  background-size: cover;
}
.header {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.logo {
  float: left;
  margin-left: 180px;
  margin-right: 35px;
}
.main {
  width: 1200px;
  margin: 0 auto;
  height: 3000px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bd-nav {
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.bd-nav li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

.bd-nav li:hover {
  color: #222222;
}
.nav-bd-link {
  margin-right: 2%;
  color: #646464;
  font-size: 18px;
  line-height: 4rem;
}

.nav-bd-link a {
  text-decoration: none;
  display: block;
  color: #222222;
}

.nav-bd-link a:hover {
  text-decoration: none;
  color: #666666;
}

.nav-bd-link a:visited {
  text-decoration: none;
}

.nav-bd-link a:active {
  text-decoration: none;
}

.nav-bd-link a:link {
  text-decoration: none;
}

.main-body {
  padding-top: 4rem;
}
/*  */

.line-ch {
  display: inline-block;
  text-align: left;
  margin-right: 50px;
  margin-left: 114px;
}

.contact-list {
  display: inline-block;
  /*width: 940px;*/
  width: 100%;
  height: 276px;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  cursor: pointer;
}
.map-img {
  width: 422px;
  height: 243px;
  top: 0;
  margin: auto;
  bottom: 0;
  /*left: 5%;*/
  position: absolute;
  box-shadow: 0 2px 4px #b9b5b5;
  /*right: 0;*/
}
.contact-address {
  /*background: rgba(255,255,255,0.80);*/
  /*height: 100%;*/
  width: 564px;
  font-size: 40px;
  /*position: relative;*/
  position: absolute;
  top: 15px;
  left: 46%;
  color: #2298f4;
}
.contact-address p {
  font-size: 18px;
  color: #333333;
}
.contact-address p:nth-child(1) {
  margin-top: 15px;
}
.contact-address p:nth-child(2) {
  color: #666666;
}
.contact-address p:nth-child(3) {
  margin-top: 20px;
}
/* 横线 */
.map-content-line {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  margin-top: 7px;
}
.map-content-line-footer {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  margin-top: 30px;
}
.map-content-flag {
  width: 36px;
}
.map-content-title {
  margin-top: 50px;
}
.map-content {
  width: 1080px;
  margin: 0 auto;
  margin-top: 10px;
}
.map-content-flag {
  width: 36px;
}
.map-content-country {
  margin-left: 19px;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.map-content-line {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  margin-top: 7px;
}
/* 底 */
.mail-box {
  font-size: 12px;
  /* line-height: 18px; */
  margin-bottom: 10px;
}
.mail-title {
  display: inline-block;
  vertical-align: top;
  color: #333333;
  width: 9%;
}
.mail-content {
  display: inline-block;
  width: 90%;
  /* margin-left: -5%; */
  /* margin-right: 10%; */
  left: 6%;
  position: relative;
}
.mail-content-text {
  width: 150px;
  margin-right: 15px;
  margin-bottom: 7px;
  color: #666666;
  display: inline-block;
}
.foot-box {
  width: 100%;
  /*min-height: 825px;*/
  height: 100%;
  padding-bottom: 20px;
}
.map-content-line-footer {
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  margin-top: 30px;
}
.contact-mail {
  height: 25%;
  width: 70%;
  padding-left: 115px;
  padding-top: 30px;
  margin: 0 auto;
  /*background: rgba(255,255,255,0.9);*/
}
